@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
    --red-color: #d22222;
    --white-color: #FFFFFF;
    --font-primary: "Comfortaa";
    --font-secundary: "Contrail One";
    --font-section1h1: "Poppins";
    --destacado: #ffcb32;
    --azulClaro: #264DFF;
    --azulEscuro: #004AAD;
    --cinza: #4D4D4D;
    --roxinho: #5271FF;
    --amarelo: #FFCC00;
  }

  
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Linha dividindo a pagina em 2 */

/* .linha{
  display: flex;
  flex-flow: row wrap;
  }

  .coluna-50 {
    width: 50%;
} */

/* NavBar */

#imgLogo {
  margin: 1rem;
  height: 4rem;
  max-width: 4rem;
}

.flex-container {
  display: flex;
  margin: auto;


}

.img-wrapper {
  width: 100%;
  height: 6rem;
  overflow: hidden;
  background-color: var(--azulEscuro);
}

.img-wrapper .navbar-brand {
  opacity: 0.8;
}

header {
  height: 6rem;
  display: flex;
  text-align: center;
  color: #161a29;
}

header .img {
  display: flex;
}

header .list-items {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
}

.list-items li a {
  font-weight: 900;
  font-size: 0.8rem;
  color: white;
}
header .menu {
  justify-content: space-between;
}

/* sticky */


/* Flex Container 1 */

.flex-container1 {
    height: 70vh;
    width: 100vw;
    background-image: url(./img/background.jpeg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .headline {
    color: white;
    font-size: 1.2rem;
    font-family: var(--font-section1h1);
    align-items: center;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
  }
  
  .subheadline {
    color: var(--white-color);
    font-family: var(--font-primary);
    font-size: 0.9rem;
    align-items: center;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 0.1em;
    padding-left: 6em;
    padding-right: 6em;
  }
  
  .destacado {
    background-color: var(--amarelo);
    max-width: fit-content;
    color: black;
  }
  
  .imgSection1 {
    position: relative;
    text-align: center;
  }
  .imgSection1 img {
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-right: 1em;
  }

  
.euQuero {
    position: relative;
    text-align: center;
  }
  
  .btn {
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-section1h1);
    position: flex;
    align-items: center;
    text-align: center;
    box-shadow: rgb(27, 27, 27) 0.1em 0.1em 0.1em;
    background-color: var(--amarelo);
  
    border: none;
    border-radius: 0.5rem;
  
    margin-block: 2.5rem;
    padding: 1.4rem;

    width: 11rem;
    height: 9rem;
    cursor: pointer;
  }
  
  .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  
  /* Flex Container 2 */

  .flex-container2 {
    height: 120vh;
    width: 100vw;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;

    
  }



.beneficiosHeadline {
  font-size: 2.6em;
  color: black;
  font-family: var(--font-section1h1);
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.beneficiosSubHeadline {
  font-family: var(--font-primary);
  font-size: 1.2em;
  align-items: center;
  margin-top: 1em;
  text-align: center;
  margin-bottom: 2em;
  margin-right: 10px;
}


.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.card {
  border-radius: 10px;
  box-shadow: 0 7px 13px 7px rgba(50, 50, 50, 0.22);
  padding: 10px;
  margin: 10px;
  width: 140px;
  height: 260px;
  transition: all 0.3s ease-out;
  text-align: center;
}

.card:hover {
  transform: translate(-5px);
  cursor: pointer;
}

.card p {
  font-size: 1.2em;
}

.btn1 {
  color: black;
  font-size: 0.7rem;
  font-weight: 600;
  font-family: var(--font-section1h1);
  position: flex;
  align-items: center;
  text-align: center;
  box-shadow: rgb(27, 27, 27) 0.1em 0.1em 0.1em;
  background-color: var(--amarelo);

  border: none;
  border-radius: 0.5rem;

  margin-block: 0.2rem;
  padding: 0.6rem;

  width: 7rem;
  cursor: pointer;
}


.checkImg {
  position: relative;
  width: 8rem;
  align-items: center;
  float: top;
  margin-bottom: 1rem;
}

 /* Flex Container 3 */
.flex-container3 {
  height: 120vh;
  width: 100vw;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.beneficiosHeadline:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 5px;
  margin-bottom: 10px;
  background: #000;
  left: 0;
  top: 50%;
  position: relative;
}

.subheader {
  margin: 0px 20px;
  border: 2px solid black;
  border-radius: 2%;
  background-color: #4c4c4c;
}

.beneficiosSubHeadline {
  padding-top: 5px;
  margin: 30px 0px;
  color: white;
}
/* Flex container 4 */


.flex-container4 {
  height: 110vh;
  width: 100vw;

  background-color: var(--azulEscuro);
  color: #FFFFFF;
  text-align: center;

}


.ondecomecar {
  color: white;
  font-weight: 600;
  margin: 2rem;
  padding-top: 1.2rem;
  font-size: 32px;
}

.section4 .ondecomecarHeader {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1rem;
}
.section4 span {
  color: white;
  font-family: var(--font-section1h1);
  font-size: 1.2em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.section4 p {
  color: white;
}

.fa-whatsapp {
  margin-left: 0.3rem;
  color: black;
}

.servidor {
  margin-top: 0.3rem;
  font-weight: 500;
}

/* Flex container 5 */

.flex-container5 {
  height: 80vh;
  width: 100vw;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerMercado {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.card3 {
  border-radius: 10px;
  box-shadow: 0 7px 13px 7px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 30px;
  width: 280px;
  transition: all 0.3s ease-out;
  text-align: center;
}
.card3 {
  background-color: #161A29;

}
.card3 p {
  color: white;
  font-size: 1.5em;
}
.numbers {
  color: #FFCA01;
  font-size: 4rem;
  margin: 1rem;
}

.card3 .cliqueaqui {
  color: white;
  font-size: 1em;
}





/* Flex container 6 */

.flex-container6 {
  height: 100vh;
  width: 100vw;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;


}
.section6:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 5px;
  margin-bottom: 10px;
  background: #000;
  left: 0;
  top: 50%;
  position: relative;
}
.section6 {
  flex-direction: column;
}

.imgSistema {
  margin-left: 1rem;
  max-width: 25rem;
  margin-bottom: 1rem;
}

.comoFunciona {
  font-size: 2.1rem;
  color: black;
  font-family: var(--font-primary);
  font-weight: 700;
  align-items: center;
  text-align: center;

}

.sistema {
  color: black;
  margin: 1.3rem 2rem;
  font-weight: 500;
  font-family: var(--font-primary);
  font-size: 1.4rem;
  align-items: center;
  text-align: left;
}

.sistema p {
  margin-bottom: 1rem;
}

/* Flex container 65 */

.flex-container65 {
  height: 120vh;
  width: 100vw;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;


}
.section65:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 5px;
  margin-bottom: 10px;
  background: #000;
  left: 0;
  top: 50%;
  position: relative;
}

.section65 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section65 p {
  margin-bottom: 0.75rem;
}

.downloadApp {
  color: black;
  margin: 1.3rem 2rem;
  font-weight: 500;
  font-family: var(--font-primary);
  font-size: 1.4rem;
  align-items: center;
  text-align: center;
}

.imgApp {

    margin-left: 1rem;
    max-width: 10rem;
    margin-bottom: 1rem;
}



/* Flex container 7 */

.flex-container7 {
  height: 100vh;
  width: 100vw;
  background-color: #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.section7 {
  display: flex;
  flex-direction: column;
  
}
.tireSuasDuvidas {
  color: white;
  text-align: center;
  font-family: var(--font-section1h1);
  font-size: 1rem;
  font-weight: 600;

}

.row2 {
  display: flex;
  flex-direction: column;
}

.card2 {
  border-radius: 4px;
  box-shadow: inset 0 0 1em var(--cinza), 0 0 2px black;
  width: 20rem;
  margin-bottom: 0.5rem;
  height: 80%;
  margin: 0.3rem;
  transition: all 0.3s ease-out;
  text-align: center;
  padding: 0.3rem;
}

.perguntas {
  cursor: pointer;
  color: #FFFFFF;
  font-family: var(--font-section1h1);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
}

.respostas {
  color: white;
  font-family: var(--font-section1h1);
  margin-top: 1rem;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
}

/* Flex ContainerFooter */

.flex-containerFooter {
  height: 22vh;
  align-items: center;
  text-align: center;
}
.contato:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 5px;
  margin-bottom: 10px;
  background: #000;
  left: 0;
  top: 50%;
  position: relative;
}
.agencia {
  font-weight: 500;
  margin: 1rem;
  color: black;
}


.fa-2x {
  color: #4D4D4D;
  padding: 1rem;
/*   margin-top: 0.5rem; */
}



/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 390px) {

.flex-container1{
  height: 80vh;
}
.flex-container2{
  height: 150vh;
}

.flex-container3 {
  height: 145vh;
}

.flex-container4 {
  height: 140vh;
}

.flex-container65 {
  height: 140vh;
}

.flex-container7 {
  height: 120vh;
}
}
@media only screen and (max-width: 850px)  and (min-width: 551px){

  .flex-container1 {
    height: 70vh;
  }
  header .list-items {
    max-width: 500px;
}
  .list-items li a {
    font-size: 1.2rem;
   
  }
  
  .headline {
    font-size: 2rem;
  }

  .subheadline {
    margin-top: 3rem;
    font-size: 1.2rem;
  }

  .btn {
    width: 14rem;
    font-size: 1.3rem;
    height: 11rem;
  }

  .flex-container2 {
    height: 125vh;
  }
  .flex-container3 {
    height: 125vh;
  }


  .card {
    width: 250px;
    height: 350px;
  }
  .checkImg {
    width: 12rem;
  }

  .btn1 {
    width: 9rem;
    font-weight: 600;
    font-size: 1rem;
    height: 2.7rem;
  }

  .flex-container4 {
    height: 110vh;
  }

  .flex-container5 {
    height: 90vh;
  }

  .flex-container6 {
    height: 50vh;
  }

  .flex-container65 {
    height: 100vh;
  }
  .coluna-50 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-container7 {
    height: 90vh;
  }

  .card2 {
    width: 35rem;

  }
  .tireSuasDuvidas {
    font-size: 2.4rem;
  }

  .perguntas {
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 1040px)  and (min-width: 851px){
  
  .flex-container1 {
    height: 70vh;
  }
  header .list-items {
    max-width: 500px;
}
  .list-items li a {
    font-size: 1.2rem;
   
  }
  .headline {
    font-size: 2rem;
  }

  .subheadline {
    margin-top: 3rem;
    font-size: 1.2rem;
  }

  .btn {
    width: 14rem;
    font-size: 1.3rem;
    height: 11rem;
  }

  .flex-container2 {
    height: 132vh;
  }
  .flex-container3 {
    height: 132vh;
  }


  .card {
    width: 320px;
    height: 400px;
  }
  .checkImg {
    width: 12rem;
  }

  .btn1 {
    width: 9rem;
    font-weight: 600;
    font-size: 1rem;
    height: 2.7rem;
  }
  .flex-container6 {
    height: 50vh;
  }
  .coluna-50 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-container7 {
    height: 90vh;
  }

  .card2 {
    width: 35rem;

  }
  .tireSuasDuvidas {
    font-size: 2.4rem;
  }

  .perguntas {
    font-size: 1.5rem;
  }
}

  @media only screen and (max-width: 1340px)  and (min-width: 1041px){
  
    .flex-container1 {
      height: 70vh;
    }
    header .list-items {
      max-width: 500px;
  }
    .list-items li a {
      font-size: 1.2rem;
     
    }
    .headline {
      font-size: 2rem;
    }
  
    .subheadline {
      margin-top: 3rem;
      font-size: 1.2rem;
    }
  
    .btn {
      width: 14rem;
      font-size: 1.3rem;
      height: 11rem;
    }
  
    .flex-container2 {
      height: 142vh;
    }
    .flex-container3 {
      height: 142vh;
    }
  
  
    .card {
      width: 420px;
      height: 480px;
    }
    .checkImg {
      width: 18rem;
    }
    .flex-container4 {
      height: 100vh;
    }
  
    .flex-container65 {
      height: 100vh;
    }
    .btn1 {
      width: 9rem;
      font-weight: 600;
      font-size: 1rem;
      height: 2.7rem;
    }
    .flex-container6 {
      height: 50vh;
    }
    .coluna-50 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .flex-container7 {
      height: 90vh;
    }
  
    .card2 {
      width: 35rem;
  
    }
    .tireSuasDuvidas {
      font-size: 2.4rem;
    }
  
    .perguntas {
      font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1740px)  and (min-width: 1341px){
  
    
  .flex-container1 {
    height: 100vh;
  }
  header .list-items {
    max-width: 700px;
}
  .list-items li a {
    font-size: 1.6rem;
   
  }
  .headline {
    font-size: 2.5rem;
  }

  .subheadline {
    margin-top: 3rem;
    font-size: 1.7rem;
  }

  .beneficiosSubHeadline {
  font-size: 1.5rem;
  }


  .btn {
    width: 18rem;
    font-size: 1.8rem;
    height: 14rem;
  }

  .flex-container2 {
    height: 192vh;
  }
  .flex-container3 {
    height: 192vh;
  }


  .card {
    width: 520px;
    height: 690px;
  }
  .checkImg {
    width: 26rem;
  }
  .flex-container4 {
    height: 110vh;
  }

  .flex-container5 {
    height: 110vh;

  }

  .flex-container65 {
    height: 120vh;
  }

  .card3 {
    width: 600px;
    
  }
  .card3 span {
    font-size: 4rem;
  }
  .card3 p {
    font-size: 2.5rem;
  }

  .ondecomecar {
    font-size: 3.5rem;
  }
  .ondecomecarHeader {
    font-size: 2.8rem;
  }
  .btn1 {
    width: 16rem;
    font-weight: 600;
    font-size: 1.5rem;
    height: 4.5rem;
  }
  .flex-container6 {
    height: 100vh;
  }
  .coluna-50 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-container7 {
    height: 120vh;
  }

  .headerMercado {
    font-size: 3.5rem;
  }
  .comoFunciona {
    font-size: 4rem;
  }

  .sistema {
    margin-top: 2rem;
    font-size: 2rem;
  }
  
  .downloadApp {
    font-size: 2rem;
  }
  .section65 p {
    font-size: 2rem;
  }
  .card2 {
    width: 55rem;

  }
  .tireSuasDuvidas {
    font-size: 4.4rem;
  }

  .perguntas {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 2240px)  and (min-width: 1741px){
  
    
  .flex-container1 {
    height: 100vh;
  }
  header .list-items {
    max-width: 700px;
}
  .list-items li a {
    font-size: 1.6rem;
   
  }
  .headline {
    font-size: 2.5rem;
  }

  .subheadline {
    margin-top: 3rem;
    font-size: 1.7rem;
  }

  .beneficiosSubHeadline {
  font-size: 1.5rem;
  }


  .btn {
    width: 18rem;
    font-size: 1.8rem;
    height: 14rem;
  }

  .flex-container2 {
    height: 222vh;
  }
  .flex-container3 {
    height: 222vh;
  }


  .card {
    width: 520px;
    height: 690px;
  }
  .checkImg {
    width: 26rem;
  }
  .flex-container4 {
    height: 110vh;
  }

  .flex-container5 {
    height: 110vh;

  }

  .flex-container65 {
    height: 120vh;
  }

  .card3 {
    width: 600px;
    
  }
  .card3 span {
    font-size: 4rem;
  }
  .card3 p {
    font-size: 2.5rem;
  }

  .ondecomecar {
    font-size: 3.5rem;
  }
  .ondecomecarHeader {
    font-size: 2.8rem;
  }
  .btn1 {
    width: 16rem;
    font-weight: 600;
    font-size: 1.5rem;
    height: 4.5rem;
  }
  .flex-container6 {
    height: 100vh;
  }
  .coluna-50 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-container7 {
    height: 120vh;
  }

  .headerMercado {
    font-size: 3.5rem;
  }
  .comoFunciona {
    font-size: 4rem;
  }

  .sistema {
    margin-top: 2rem;
    font-size: 2rem;
  }
  
  .downloadApp {
    font-size: 2rem;
  }
  .section65 p {
    font-size: 2rem;
  }
  .card2 {
    width: 55rem;

  }
  .tireSuasDuvidas {
    font-size: 4.4rem;
  }

  .perguntas {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 2740px)  and (min-width: 2241px){
  
  .flex-container1 {
    height: 50vh;
  }
  header .list-items {
    max-width: 900px;
}
  .list-items li a {
    font-size: 2.1rem;
   
  }
  .headline {
    font-size: 2.5rem;
  }

  .subheadline {
    margin-top: 3rem;
    font-size: 1.7rem;
  }

  .beneficiosSubHeadline {
  font-size: 1.5rem;
  }


  .btn {
    width: 18rem;
    font-size: 1.8rem;
    height: 14rem;
  }

  .flex-container2 {
    height: 172vh;
  }
  .flex-container3 {
    height: 172vh;
  }


  .card {
    width: 800px;
    height: 900px;

  }
  .checkImg {
    width: 36rem;
  }
  .flex-container4 {
    height: 70vh;
  }

  .flex-container5 {
    height: 80vh;

  }

  .flex-container65 {
    height: 100vh;
  }

  .card3 {
    width: 900px;
    height: 600px;
    
  }
  .card3 span {
    font-size: 6rem;
  }
  .card3 p {
    font-size: 2.5rem;
  }

  .ondecomecar {
    font-size: 3.5rem;
  }
  .ondecomecarHeader {
    font-size: 2.8rem;
  }
  .btn1 {
    width: 16rem;
    font-weight: 600;
    font-size: 1.5rem;
    height: 4.5rem;
  }
  .flex-container6 {
    height: 40vh;
  }
  .coluna-50 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-container7 {
    height: 90vh;
  }

  .headerMercado {
    font-size: 3.5rem;
  }
  .comoFunciona {
    font-size: 4rem;
  }

  .sistema {
    margin-top: 2rem;
    font-size: 2rem;
  }
  
  .downloadApp {
    font-size: 2rem;
  }
  .section65 p {
    font-size: 2rem;
  }
  .card2 {
    width: 55rem;

  }
  .tireSuasDuvidas {
    font-size: 4.4rem;
  }

  .perguntas {
    font-size: 2.7rem;
  }

  .flex-containerFooter {
    height: 10vh;
  }
}

@media only screen and (max-width: 4040px)  and (min-width: 2741px){
  
  .flex-container1 {
    height: 80vh;
  }
  header .list-items {
    max-width: 900px;
}
  .list-items li a {
    font-size: 2.1rem;
   
  }
  .headline {
    font-size: 2.5rem;
  }

  .subheadline {
    margin-top: 3rem;
    font-size: 1.7rem;
  }

  .beneficiosSubHeadline {
  font-size: 1.5rem;
  }


  .btn {
    width: 18rem;
    font-size: 1.8rem;
    height: 14rem;
  }

  .flex-container2 {
    height: 172vh;
  }
  .flex-container3 {
    height: 172vh;
  }


  .card {
    width: 700px;
    height: 900px;
    padding: 7rem;
  }
  .checkImg {
    width: 32rem;
  }
  .flex-container4 {
    height: 70vh;
  }

  .flex-container5 {
    height: 80vh;

  }

  .flex-container65 {
    height: 100vh;
  }

  .card3 {
    width: 900px;
    height: 600px;
    
  }
  .card3 span {
    font-size: 6rem;
  }
  .card3 p {
    font-size: 2.5rem;
  }

  .ondecomecar {
    font-size: 3.5rem;
  }
  .ondecomecarHeader {
    font-size: 2.8rem;
  }
  .btn1 {
    width: 16rem;
    font-weight: 600;
    font-size: 1.5rem;
    height: 4.5rem;
  }
  .flex-container6 {
    height: 40vh;
  }
  .coluna-50 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-container7 {
    height: 90vh;
  }

  .headerMercado {
    font-size: 3.5rem;
  }
  .comoFunciona {
    font-size: 4rem;
  }

  .sistema {
    margin-top: 2rem;
    font-size: 2rem;
  }
  
  .downloadApp {
    font-size: 2rem;
  }
  .section65 p {
    font-size: 2rem;
  }
  .card2 {
    width: 55rem;

  }
  .tireSuasDuvidas {
    font-size: 4.4rem;
  }

  .perguntas {
    font-size: 2.7rem;
  }

  .flex-containerFooter {
    height: 10vh;
  }
}